.game-field {
    -fx-background-image: url("images/square.png");
    -fx-background-repeat: repeat;
    -fx-background-size: 64;
}

.kolpbok {
    -fx-background-image: url("images/kolpbok.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50;
    -fx-max-width: 64;
    -fx-min-width: 64;
    -fx-max-height: 64;
    -fx-min-height: 64;
}
.enemy {
    -fx-background-image: url("images/enemy.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50;
    -fx-max-width: 64;
    -fx-min-width: 64;
    -fx-max-height: 64;
    -fx-min-height: 64;
}

.bush{
    -fx-background-image: url("images/bush.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50;
    -fx-max-width: 64;
    -fx-min-width: 64;
    -fx-max-height: 64;
    -fx-min-height: 64;
}

.sword{
    -fx-background-image: url("images/sword.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50;
    -fx-max-width: 64;
    -fx-min-width: 64;
    -fx-max-height: 64;
    -fx-min-height: 64;
}
.sabre{
    -fx-background-image: url("images/sabre.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50;
    -fx-max-width: 64;
    -fx-min-width: 64;
    -fx-max-height: 64;
    -fx-min-height: 64;
}
.hammer{
    -fx-background-image: url("images/hammer.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50;
    -fx-max-width: 64;
    -fx-min-width: 64;
    -fx-max-height: 64;
    -fx-min-height: 64;
}
.pistol{
    -fx-background-image: url("images/pistol.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50;
    -fx-max-width: 64;
    -fx-min-width: 64;
    -fx-max-height: 64;
    -fx-min-height: 64;
}
.spear{
    -fx-background-image: url("images/spear.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50;
    -fx-max-width: 64;
    -fx-min-width: 64;
    -fx-max-height: 64;
    -fx-min-height: 64;
}
.shield{
     -fx-background-image: url("images/shield1.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 45;
    -fx-max-width: 64;
    -fx-min-width: 64;
    -fx-max-height: 64;
    -fx-min-height: 64;

}
.shield2{
    -fx-background-image: url("images/shield2.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 45;
    -fx-max-width: 64;
    -fx-min-width: 64;
    -fx-max-height: 64;
    -fx-min-height: 64;

}
.shield3{
    -fx-background-image: url("images/shield3.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 45;
    -fx-max-width: 64;
    -fx-min-width: 64;
    -fx-max-height: 64;
    -fx-min-height: 64;

}
.shield4{
    -fx-background-image: url("images/shield4.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 45;
    -fx-max-width: 64;
    -fx-min-width: 64;
    -fx-max-height: 64;
    -fx-min-height: 64;

}
.shield5{
    -fx-background-image: url("images/shield5.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 45;
    -fx-max-width: 64;
    -fx-min-width: 64;
    -fx-max-height: 64;
    -fx-min-height: 64;

}
.shield6{
    -fx-background-image: url("images/shield6.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 45;
    -fx-max-width: 64;
    -fx-min-width: 64;
    -fx-max-height: 64;
    -fx-min-height: 64;

}
.stones {
    -fx-background-image: url("images/stones.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 45;
    -fx-max-width: 64;
    -fx-min-width: 64;
    -fx-max-height: 64;
    -fx-min-height: 64;

}


.key{
    -fx-background-image: url("images/key.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 45;
    -fx-max-width: 64;
    -fx-min-width: 64;
    -fx-max-height: 64;
    -fx-min-height: 64;
}
.door{
    -fx-background-image: url("images/door.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 45;
    -fx-max-width: 64;
    -fx-min-width: 64;
    -fx-max-height: 64;
    -fx-min-height: 64;

}